.container {
    display: flex;
    overflow: hidden;
    border-radius: 3px;
    padding: 0px 10px 0px;
    margin: 5px;
    box-shadow: 2px 5px 10px #000a;
    flex: 1;
    height: 75px;
    width: 100%;
    flex-wrap: row wrap;
    transition: height .3s ease;
    -moz-transition: height .3s ease;
    -o-transition: height .3s ease;
    -webkit-transition: height .3s ease;
}

.containerOnClick {
    height: 118px;
}

.calendarContainer {
     flex: 1;
     overflow: hidden;
     background-color: #fff;
     height: 400px;
     margin: auto;
}

.meetingTitle {
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
}

.eventData {
    flex: 1;
}

.description {
    flex-wrap: inherit wrap;
    flex: .7;
    padding-top: 100px;
    transition: padding-top .3s ease-in;
    -moz-transition: padding-top .3s ease-in;
    -o-transition: padding-top .3s ease-in;
    -webkit-transition: padding-top .3s ease-in;
}

.containerOnClick .description {
    padding-top: 2px;
    transition: padding-top .3s ease-in;
    -moz-transition: padding-top .3s ease-in;
    -o-transition: padding-top .3s ease-in;
    -webkit-transition: padding-top .3s ease-in;
}

.date {
    flex: .20;
    padding-top: 2px;
    flex-wrap: column nowrap;
}

.info {
    display: flex;
    flex: 1;
    padding-top: 7px;
    flex-wrap: row nowrap;
}

div {
    flex: 1;
}

h1 {
    margin: 0px;
    padding: 0px;
}

h2 {
    margin: 0px;
    font-size: 40px;
}

h3 {

    border: 0px;
    font-size: 20px;
}

p {
    padding: 0px;
    margin: 0px;
    flex: 1;
}