.containerGeneral {
    flex: 1;
    height: 60;
    flex-direction: row;
    background-color: black;
}

.element {
    color: white;
}

.list {
    flex: 1;
    flex-direction: row;
}

.listElement {
     flex: 1;
     flex-direction: row;
     color: blue;
}

.menu {
    align-items: center;;
}