.containerGeneral {
    flex: 1;
    height: 60;
    display: flexbox;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-flex;
    flex-direction: row;
    background-color: black;
}

.element {
    color: white;
}

.list {
    flex: 1;
    display: flexbox;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: -webkit-flex;
    flex-direction: row;
}

.listElement {
     flex: 1;
     flex-direction: row;
     color: blue;
}

.menu {
    align-items: center;
}