html, body {
	margin: 0;
	padding: 0;
}

body {
	color: #292929;
	font: 90% Roboto, Arial, sans-serif;
	font-weight: 300;
}

p {
	padding: 0 10px;
	line-height: 1.8;
}

ul li {
	padding-right: 10px;
	line-height: 1.6;
}

h3 {
	padding: 5px 20px;
	margin: 0;
}

div#hours {
	width: 100%;
	padding: 0px 50px;
	clear: both;
	margin: auto auto;
}

div#container {
	width: 100%;
	margin: 0 auto;
}

div#motto {
	text-align: center;
	width: 100%;
}

div#events {
	width: 100%;
	margin:auto auto;
	clear: both;
	padding: 0px 0px;
}

div#sponsors {
	display: -webkit-flex; /* Safari */
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	display: flex;   
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	padding: 50px 10px;
	text-align: center;
}

div#innerSponsors {
	padding: 20px 10px;
	text-align: center;
	margin: auto;
}

img#sponsors {
	float: center;
	width: auto;
	height: auto;	
	max-height: 125px;
	max-width: 200px;
}