.loginContainer {
    position: fixed;
    top: -160px;
    right: 0px;
    height: 220px;
    width: 200px;
    border-bottom-left-radius: 10px;
    color: white;
    background-color: #fff;
    display: flexbox;
    padding: 20px;
    background-color: #0008;
    border-bottom: 3px double #f0d03b;
    border-left: 3px double #f0d03b;
    z-index: 100;
    transition: top .3s ease;
    -moz-transition: top .3s ease;
    -o-transition: top .3s ease;
    -webkit-transition: top .3s ease;
}

.active {
    top: 0px;
}