table#officeHours {
	width: 90%;
	margin: auto;
}

h1#officeHours {
	text-align: center;
}

h3#officeHours {
	text-align: center;
}

th, td{
  padding: 15px;
}

tr#officeHours:nth-child(even) {background-color: #fcf5d2;}
