#nameH{
	display: flex;
	font-weight: bold;
	text-align: center;
	justify-content: center;
	color: black;
}

#timeH{
	display: flex;
	text-align: center;
	justify-content: center;
	color: black;
}

.circle{
	vertical-align: middle;
	text-align: center;
	width:105px;
	height: 105px;
	border-radius: 50%;
	border-style: solid;
	border-width: medium;
	border-color: black;
	background-color: white;
	margin: auto;
}

@media only screen and (max-width: 550px) {
  .circle {
    width: 80px;
	height: 80px;
	border-width: thin;
  }
  #timeH{
	font-size: xx-small;
  }
  #nameH{
	font-size: x-small;
  }
  h3#dayH{
	padding: 15px 0px;
}
}

.newDay{
	float: left;
}

.officeHoursMain{
	display: flex;
	margin: auto;
	width: 90%;
	justify-content: center;
}

h3#dayH{
	text-align: center;
	padding: 25px 0px;
}

h1#officeHours {
	text-align: center;
}

h3#officeHours {
	text-align: center;
	margin-top: -10px
}


