
#body {
    background-color: #f00;
    flex: 1;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-self: center
}

#page {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.alignSelf {
    align-self: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-self: center
}
